<!DOCTYPE html>
<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>MintyFinance</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
  <h2 class="list-heading">Witaj w Minty Finance!</h2>
  <p class="list-description">
    MintyFinance to nowoczesne i intuicyjne narzędzie do zarządzania Twoimi finansami, które pozwoli Ci spojrzeć na swoje oszczędności i wydatki w zupełnie nowy sposób.

    Dlaczego warto korzystać z MintyFinance?

    Całkowity przegląd Twoich finansów – Nasza aplikacja daje Ci pełen obraz Twojej sytuacji finansowej w jednym miejscu. Połącz różne konta, śledź swoje oszczędności, inwestycje, kredyty i wiele innych.

    Inteligentne budżetowanie – Z łatwością twórz budżety na konkretne kategorie wydatków i monitoruj, jak zbliżasz się do wyznaczonych celów każdego miesiąca.

    Automatyczna kategoryzacja transakcji – MintyFinance automatycznie kategoryzuje Twoje transakcje, pomagając Ci zrozumieć, na co wydajesz swoje pieniądze.

    Bezpieczeństwo na pierwszym miejscu – Twoje dane są dla nas priorytetem. Używamy najnowszych technologii zabezpieczających, aby chronić Twoje informacje i zapewnić Ci spokój ducha.

    Dostępność z każdego miejsca – Dzięki responsywnej stronie internetowej i dedykowanej aplikacji mobilnej masz dostęp do swoich finansów gdziekolwiek jesteś.

    Analizy i raporty – Nasze zaawansowane narzędzia analizują Twoje dane, dostarczając cenne wskazówki i raporty, które pomogą Ci podejmować świadome decyzje finansowe.

    Wsparcie dla inwestorów – Śledź swoje inwestycje, analizuj rynek i korzystaj z naszych rekomendacji, aby maksymalizować zyski.

    Dołącz do naszej społeczności!

    MintyFinance to nie tylko narzędzie, ale także społeczność użytkowników dążących do lepszego zarządzania swoimi finansami. Udostępniaj swoje osiągnięcia, ucz się od innych i rozwijaj się razem z nami.

    Nie czekaj dłużej!

    Zacznij świadomie zarządzać swoimi finansami już dziś. Zarejestruj się i odkryj wszystkie funkcje, które MintyFinance ma do zaoferowania. Zacznij swoją drogę do stabilności finansowej teraz!
  </p>
</main>
</body>
</html>